{% extends 'index.html' %}

{% block content %}
    <h2>{{ lang['-registration-']['registration'] }}</h2>
    <form name="registrate" method="post" action="/registration">
        <p>{{ lang['-registration-']['login'] }}:</p>
        <input type="text" size="40" maxlength="15" required name="login">
        <p>{{ lang['-registration-']['password'] }}:</p>
        <input type="password" size="40" maxlength="20" required name="password">
        <p>{{ lang['-registration-']['password-repeat'] }}:</p>
        <input type="password" size="40" maxlength="20" required name="repeat_password">

        <p><input class="button" type="submit" value="{{ lang['-registration-']['registration-accept'] }}"></p>
    </form>
{% endblock %}
